body{
    font-family: "Montserrat",sans-serif;
    margin: 0;
    padding: 0;
}

img{
    width: 100%;
    height: auto;
}

li{
    list-style-type: none;
}

/********************************************************************************************************/
/********************************************************************************************************/
/*                                   Login Page and Sign Up Page                                        */
/********************************************************************************************************/
/********************************************************************************************************/

.login-main{
    margin: 0;
    padding: 0;
}


.loginMenu-options{
    background-color: white;
    top: 1.8rem;
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    /* padding-bottom: 0; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 2px solid #2ec4b3;
}


.loginMenu-options a{
    flex-basis: 50%;
    justify-content: center; 
    padding-bottom: 10px;   
}

.loginMenu-options a.active{
    border-bottom: 5px solid #2ec4b3;
}


.loginMenu-options button{
    background-color: white;
    color: #0A1943;
    border: 0;
    font-family: "Montserrat";
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bolder;
}

.menu-options{
    background-color: white;
    top: -4.2rem;
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    /* padding-bottom: 0; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 2px solid #2ec4b3;
}


.menu-options a{
    flex-basis: 50%;
    justify-content: center; 
    padding-bottom: 10px;   
}

.menu-options a.active{
    border-bottom: 5px solid #2ec4b3;
}


.menu-options button{
    background-color: white;
    color: #0A1943;
    border: 0;
    font-family: "Montserrat";
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bolder;
}

#loginOption , #signupOption{
    border-bottom: 5px solid #2ec4b3;
}

.login-info-input{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 30px ;
    padding-top: 0;
   justify-content: center;
}

.login-info-input .login-heading{
    color: #0088fd;
    font-size: 1.7rem;
    top: 2rem;
    position: relative;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    transform: translateY(-30px);
}


.login-info-input input , .login-info-input label{
    flex-basis: 100%;
}

.login-info-input label{
    font-size: 0.9rem;
    /* margin-top: 5px; */
}

.login-info-input input{
    border:0;
    border-bottom: 2px solid #D0D0D0;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 0;
    margin-bottom: 20px;
}

.login-info-input a{
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0.6rem 0 0 0;
    text-decoration-line: underline;
}

.signup-info-input{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;
    padding-left: 30px;
    padding-right: 30px ;
    padding-top: 0;
   justify-content: center;
   top: -4rem;
   position: relative;
}

.signup-info-input .signup-heading{
    color: #0088fd;
    font-size: 1.7rem;
    top: 1rem;
    position: relative;
    line-height: 1.2;
    padding: 0;
    margin: 0;
    transform: translateY(-30px);
}


.signup-info-input input , .signup-info-input label{
    flex-basis: 100%;
}

.signup-info-input label{
    font-size: 0.9rem;
    /* margin-top: 5px; */
}

.signup-info-input input{
    border:0;
    border-bottom: 2px solid #D0D0D0;
    font-size: 1.1rem;
    font-weight: bold;
    padding: 10px 0;
    margin-bottom: 20px;
}

.signup-info-input a{
    color: black;
    text-decoration: none;
    font-size: 0.9rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin:  0.6rem 0 0 0;
    text-decoration-line: underline;
}

.login-footer {
    display: flex;
    flex-flow: row wrap;
    /* padding: 20px; */
}

.login-footer div{
    flex-basis: 100%;
    padding: 30px;
}
/* 
.login-footer .login-buttons{
    min-width: 80%;
    margin: 0 8% 0 8%;
    border-bottom: 1px solid #D0D0D0;
} */

.login-footer a{
    text-decoration: none;
}

/* .login-footer  */
button{
    width: 100%;
    font-size: 1rem;
    border-radius: 10px;
    border: 0;
    padding: 15px;
    font-family: "Montserrat",sans-serif;
    font-weight: bold;
    /* height: 40px; */
}

.login-footer #login{
    background-color: #F7BE00; 
    color: #0A1943; 
}

.login-footer #google-login{
    display: flex;
    flex-wrap: nowrap;
    background-color: #2ec4b3;
    color: white; 
    align-items: center;  
    /* padding: 0;    */
}

#google-login p:first-of-type{
    flex-basis: 75%;
    /* font-size: 18px; */
    text-align: center;
    text-decoration: none;     
}

#google-login p{
    padding: 0;
    margin: 0;
}

#google-login p:last-of-type{
    flex-basis: 25%;
    text-align: left;
    font-size: 1.4rem;
}

.login-footer #signUp{
    background-color: #F7BE00; 
}

#signupFooter {
    position: relative;
    top: -2rem;
}

/********************************************************************************************************/
/********************************************************************************************************/
/*                                           User Profile Page                                          */
/********************************************************************************************************/
/********************************************************************************************************/

.profile-header ,.settings-header{
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;    
}

.profile-heading , .settings-heading {
    flex-basis: 100%;
    background-color: white;
    color: black;    
    display: flex;
    padding: 20px;
    justify-items: center;
}

.profile-heading h3 , .settings-heading h3{
    padding: 0;
    margin: 0;
    flex-basis: 100%;
    text-align: center;
}

.btnBack{
    background-color: white;
    color: #909090;
    border: 0;
    font-family: "Merriserrat" , sans-serif;
    margin: 0;
    padding: 0;
}

.profile-message{
    flex-basis: 100%;
    background-color: #F7BE00;
    color: #0A1943;
    font-weight: bolder;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 45px 30px 10px 30px;
}

.profile-message p{
    padding: 0;
    margin: 0;
}

.display-username {
    font-size: 28px;
}

.profile-info{
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
}

.profile-info label{
    flex-basis: 100%;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.profile-info input{
    flex-basis: 100%;
    border: 0;
    border-bottom: 2px solid #D0D0D0;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 16px;
}


#retrieveUserGender{
    margin-bottom: 30px;
}

.profile-info  button {
    font-family: "Montserrat",sans-serif;
    margin-bottom: 10px;
    border-radius: 10px ;
    font-size: 16px;
    border: 0;
    padding: 15px;   
    font-weight: bold ; 
}

#btn-edit-profile{
    flex-basis: 100%;
    background-color: #F7BE00;
    color: #0A1943;
}

#btn-save-profile{
    flex-basis: 100%;
    background-color: #2ec4b3;
    color: white;  
    margin: 0;  
}

.profile-footer , .settings-footer{
     border-top: 1px solid #909090;
    padding: 0;
    margin: 0;
}

.footer-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.profile-footer img , .settings-footer img {
    justify-items: center;
    align-self: center;
    height: 30px;
    width: 30px;
}

.profile-footer a , .settings-footer a{
    color: #909090;
    text-decoration: none;
    font-size: 12px ;
    align-items: center;
    text-align: center;  
    margin: 15px;  
}

.profile-footer p , .settings-footer p{
    text-align: center;
    padding: 0;
    margin: 0;
}

.settings-heading {
    border-bottom: 1px solid #909090;
}

.settings-block {
  display: flex;
  flex-flow: row wrap;
  padding: 20px;
}

.settings-block a:not(:last-of-type){
    flex-basis: 100%;
    text-decoration: none;
    border-radius: 10px;
    margin-top: 20px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}

.settings-block a img{
    width: 60px;
    height: 60px;    
}

.settings-block a:nth-of-type(1) {
    background-color: #2ec4b3;
}

.settings-block a:nth-of-type(1) h3{
   text-align: center;
   width: min-content;
}

.settings-block a:nth-of-type(2) {
    background-color: #F7BE00;
}

.settings-block a:nth-of-type(3) {
    background-color: #0088fd;
}

.settings-block a:last-of-type {
    flex-basis: 100%;
}

#btnLogout {
    background-color: #F7BE00;
    margin-top: 2rem;
    margin-bottom: 6rem;
}




/***************************************************************/
/**************** Date, Price, Location Pop-Up *****************/
/***************************************************************/
.date-outer , .price-outer , .location-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
}

.date-outer.active , .price-outer.active , .location-outer.active{
    opacity: 100%;
    pointer-events: all;
}

.date-inner , .price-inner , .location-inner {
    background-color: white;
    border-radius: 1rem;
    /* padding: 1rem; */
    height: fit-content;
    transform: translateY(-200%) ;
    transition: transform 0.5s;
}

.date-outer.active .date-inner , .price-outer.active .price-inner ,
.location-outer.active .location-inner {
    transform: translateY(0);
}

.date-inner , .price-inner , .location-inner{
    object-fit: cover;
    max-width: 70%;
}

.date-inner .datePopUp , .price-inner .pricePopUp , .location-inner .locationPopUp{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    /* border-radius: 1rem; */
    /* padding: 0.5rem; */
}

.datePopUp .date-header , .pricePopUp .price-header {
    flex-basis: 100%;
    justify-content: center;

    background-color: #2ec4b3;
    /* padding: 0.5rem; */
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
}

.date-header, .price-header {
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
}

.date-header img , .price-header img{
    padding: 0.5rem;
    width: 15%;
    height: auto;
}

.date-header p , .price-header p{
    color: white;
    font-size: 1rem;
    font-weight: bold;
    margin: 0;
}

.date-input , .price-input {
    padding: 0.8rem;
    display: flex;
    flex-flow: row wrap;
}

.date-input input , .price-input select , .price-input select option{
    flex-basis: 100%;
    font-size: 1.1rem;
    margin: 0.3rem;
    padding: 0.3rem;
    border-radius: 0.5rem;
    border: 2px solid black;
    line-height: 1rem;
}

.dateApply, .priceApply, .locApply {
    color: black;
    background-color: #F7BE00;
    margin: 0.3rem;
}

.dateCancel, .priceCancel, .locCancel {
    color: white;
    background-color: #2ec4b3;
    margin: 0.3rem;
}

.locationPopUp {
    padding: 1rem;
}

.locationPopUp a{
    flex-basis: 100%;
    margin: 1rem;
}

.locationPopUp p{
    flex-basis: 100%;
}
.locationPopUp a+p{
    border-bottom: 1px solid #909090;
    margin: 0.5rem;
}

.locationPopUp #currentLocationBtn {
    flex-basis: 100%;
    background-color: #0088fd;
    color: white;
}

.locationPopUp select {
    background-color: #2ec4b3;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    padding: 15px;
    font-family: "Montserrat",sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
    margin-bottom: 2rem;
    /* justify-content: center; */
    align-items: center;
}

.locationPopUp select option:first-of-type{
    justify-self: flex-start;
    word-wrap: none;    
}

.locationPopUp #cityBtn p:last-of-type{
    margin: 0;
    text-align: flex-end;
}


.btnDate.active {
    background-color: #2ec4b3;
}

.btnPrice.active {
    background-color: #F7BE00;
}

.btnLocation.active {
    background-color: #0088fd;
}

.btnDate.active p, .btnPrice.active p, .btnLocation.active p{
    color: white;
}


/***************************************************************/
/******************** Preference Pop-Up ************************/
/***************************************************************/
.preference-outer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    pointer-events: none;
    transition: opacity .5s;
}

.preference-outer.active{
    opacity: 100%;
    pointer-events: all;
}

.preference-inner {
    background-color: white;
    border-radius: 1rem;
    padding: 1rem;
    height: fit-content;
    transform: translateY(-200%) ;
    transition: transform 0.5s;
}

.preference-outer.active .preference-inner{
    transform: translateY(0);
}

.preference-inner{
    object-fit: cover;
    max-width: 70%;
}

.preference-inner .popUp{
    /* top: 25%; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
}

.popUp img{
    flex-basis: 100%;
    max-width: 40%;
    height: auto;    
}

.popUp p {
    color: #2ec4b3;
    font-size: 1.5rem;
    text-align: center;
    padding: 0.5rem;
    margin: 0;
}



/********************************************************************************************************/
/********************************************************************************************************/
/*                                            Front Page                                                */
/********************************************************************************************************/
/********************************************************************************************************/



body, img{
    max-width: 100%;
    height: auto;
    font-family: 'Montserrat', sans-serif;
}

.filterOption.active, .categoryOption.active {
    border-bottom: 5px solid #2ec4b3;
}

.header-image{
    margin-bottom: -6rem;
}

.header-image img {    
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.header-image h2 {
    position: relative;
    color: #fff;
    font-weight: 800;
    top: -8rem;
    font-size: 1.75rem;
    /* padding: 10px; */
    max-width: 85%;
    margin: auto;
}

header .search{
    max-width: 100%;
    margin-left: 7%;
}

header .search input{
    width: 90%;
    height: 35px;
    border-radius: 10px;
}

a{
    text-decoration: none;
}

ul{
    list-style-type: none;
}


.home-menu-options{
    background-color: white;
    /* top: -50px; */
    position: relative;
    display: flex;
    flex-direction: row;
    padding-top: 20px;
    /* padding-bottom: 0; */
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom: 2px solid #2ec4b3;
}

.home-menu-options a{
    flex-basis: 50%;
    justify-content: center; 
    padding-bottom: 10px;   
}

.home-menu-options a.active{
    border-bottom: 5px solid #2ec4b3;
}


.home-menu-options button{
    background-color: white;
    color: #0A1943;
    border: 0;
    font-family: "Montserrat";
    text-align: center;
    width: 100%;
    font-size: 1.2rem;
    font-weight: bolder;
}

.secondary-nav ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0 1.7rem 0 1.7rem;
    padding: 0;
}

.secondary-nav ul li{
    flex-basis: 42%;
    margin: 4px 0px;
    padding: 10px;
    border: 1px solid #D0D0D0;
    border-radius: 8px;
    /* justify-content: space-evenly;     */
}

.secondary-nav ul li a{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    text-align: center;
    padding: 0;
}

.secondary-nav li p{
    text-align: center;
    margin: 0 10px;
}

.secondary-nav  ul li a img{
    width: auto;
    height: 50px;
    justify-content: flex-start;
}

/* .secondary-nav li:first-of-type{
    background-color: #0088fd;
} */



.content-child1, .content-child2, .content-child3{
    margin-bottom: 2rem;
    /* margin-top: 2rem; */
}

.content-child1 img, .content-child2 img, .content-child3 img {
    margin-bottom: -4.5rem;
    border-radius: 15px;
}

.content-child1 h3, .content-child2 h3, .content-child3 h3{
    position: relative;
    /* top: -4.5rem; */
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    color: #fff;
    padding: 13px;
}

.content-child1 h3 {
    background-color: #2ec4b3;
}

.content-child2 h3 {
    background-color: #F7BE00;
}

.content-child3 h3 {
    background-color: #0088fd;
}


#btnLoadMore {
    background-color: #F7BE00;
    color: #0A1943;
    margin: 1rem 1.7rem;
    width: 85%;
}


.content-child h3{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
}

.content-child h3 p{
    flex-basis: 50%;
    margin: 0;
}

.content-child h3 p:first-of-type{
    justify-content: flex-start;
}

.content-child h3 p:last-of-type{
    justify-content: flex-end;
    text-align: right;
}
/********************************************************************************************************/
/********************************************************************************************************/
/*                                             Home Page                                                */
/********************************************************************************************************/
/********************************************************************************************************/

.event-filter{
    display: flex;
    flex-flow: row;
    text-align: center;
    justify-content: space-evenly;
}

.event-filter a{
    flex-basis: 30%;
    border: 2px solid #D0D0D0;
    padding: 10px;
    margin: 10px;
    border-radius: 8px;
    font-size: 0.9rem;
    font-weight: bold;
}

.event-filter img {
    width: 50px;
    height: auto;
}

.btnPrice img{
    margin-top: 1rem;
}

.event-filter a:nth-of-type(1) {
    color: #2ec4b3 ;
}

.event-filter a:nth-of-type(2) {
    color: #F7BE00;
}

.event-filter a:nth-of-type(3) {
    color: #0088fd;    
}

.event-filter a:first-of-type a.active {
    color:white;
    background-color: #2ec4b3;
}



#clearFilter {
    height: 3rem;
    max-width: 85%;
    margin: 0 1.7rem;
    color: white;
    background-color: #2ec4b3;
}



.event-options{
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
}

.event-options .content-child {
    flex-basis: 100%;
}

.travel-outdoors a {
    color: #0088fd;
}

.film-media a {
    color: #F7BE00;
}

.music a{
    color: #0A1943
}

.food-drinks a {
    color: #2ec4b3;
}

.sports-fitness a{
    color: #0088fd
}

.fashion-lifestyle a {
    color: #F7BE00;
}

li a p {
    font-weight: bold;
}

.travel-outdoors.active {
    background-color: #0088fd;
}

.film-media.active{
    background-color: #F7BE00;
}

.music.active {
    background-color: #0A1943;
}

.food-drinks.active {
    background-color: #2ec4b3;
}

.sports-fitness.active {
    background-color: #0088fd;
}

.fashion-lifestyle.active{
    background-color: #F7BE00;
}


.travel-outdoors.active p, .film-media.active p, .music.active p, .food-drinks.active p, .sports-fitness.active p, .fashion-lifestyle.active p{
    color: #fff;
}

/********************************************************************************************************/
/********************************************************************************************************/
/*                                             Footer                                                   */
/********************************************************************************************************/
/********************************************************************************************************/

.settings-footer {
    position: fixed;
    visibility: visible;
    bottom: 0;
    width: 100%;
    background-color: #fff;
}

.main-content{
    padding-bottom: 100px;
}





/********************************************************************************************************/
/********************************************************************************************************/
/*                                             Preferences                                              */
/********************************************************************************************************/
/********************************************************************************************************/

.preferences-header h2{
    top: -7rem;
}

.preferences {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    padding-top: 4.8rem;
    grid-gap: 1rem;
    grid-row-gap: 4rem;
    max-width: 90%;
    margin: auto;
}

.preferences-child1 h3,
.preferences-child2 h3,
.preferences-child3 h3,
.preferences-child4 h3,
.preferences-child5 h3,
.preferences-child6 h3 {
    position: relative;
    color: #fff;
    /* background-color: #000; */
    /* background-blend-mode: hue; */
    top: 1.5rem;
    padding-left: 1rem;
    font-size: 0.9rem;
}


.preferences-child1 img,
.preferences-child2 img,
.preferences-child3 img,
.preferences-child4 img,
.preferences-child5 img,
.preferences-child6 img {
    /* position: absolute; */
    margin-bottom: -4.5rem;
    border-radius: 15px; 
    border: 5px solid rgb(255, 255, 255);
    /* border: 5px solid rgb(255, 255, 255); */
}


.preferences-tag1.active img,
.preferences-tag2.active img,
.preferences-tag3.active img,
.preferences-tag4.active img,
.preferences-tag5.active img,
.preferences-tag6.active img {
    border: 5px solid #2ec4b3;
}

.btnDone, .btnBack {
    max-width: 90%;
    margin-left: 5%;
    
}

.btnDone {
    background-color: #F7BE00;
    margin-top: 5rem;
    margin-bottom: 4rem;
}




/* **************************************** */
/* Revised */
/* **************************************** */


hr {
    width: 85%
}


/************ Location Select Page ************/

.location-header{
    margin-bottom: -6rem;
}

.location-header img {    
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    background: rgba(0, 0, 0, 1);
    /* position: relative; */
}

.location-header h2 {
    color: #fff;
    font-weight: 800;
    top: -15rem;
    font-size: 1.9rem;
    max-width: 85%;
    margin: auto;
}

/* .overlay {
    z-index: 0;
    height: 50%;
    width: 100%;
    position: fixed;
    overflow: auto;
    top: 0px;
    left: 0px;
    background: rgba(0, 0, 0, 0.7); 
} */

.location-set-main {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.location-select {
    position: relative;
    flex-basis: 80%;
    top: -7.5rem;
    height: 60%;
    background-color: white;
    border-radius: 15px; 
    align-items: space-evenly;
    padding: 40px 15px;
    filter: drop-shadow(0 0 0.5rem #909090);
}

.location-select p{
    border-bottom: 1px solid #909090;
    margin: 40px 2px;
}

#currentLocationBtn {
    flex-basis: 100%;
    background-color: #F7BE00;
    color: white;
}



.location-set-main select {
    background-color: #2ec4b3;
    color: white;
    display: flex;
    flex-flow: row nowrap;
    padding: 15px;
    width: 100%;
    border-radius: 0.7rem;
    font-family: "Montserrat",sans-serif;
    font-size: 1rem;

    /* justify-content: space-evenly; */
    align-items: center;

}


#cityBtn a{
    text-align: center;
}

#cityBtn p{
    margin: 0;
}

.location-set-footer {
    flex-basis: 80%;
    display: block;  
    align-content: center;
    justify-items: center;
}

#confirmBtn {
    flex-basis: 100%;
    background-color: #F7BE00;
    position: relative;
    top: -6rem;
    /* margin: 20px 0;  */
}


/*************** Location Filter ***************/

.location-main{
    height: 100vh;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
} 
    
.location-input{
    flex-basis: 100%;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}
    
.location-input input{
    flex-basis: 100%;
    border-radius: 12px;
    font-size: 20px;
    position: absolute;
    padding: 8px 0;
    width: 80%;
    margin-top: 10%;
}

.search-placeholder {
    margin-top: 10%;
    flex-basis: 80%;
    position: relative;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
}
    
.search-placeholder img {
    position: relative;
    margin: 8px;
    width: 25px;
    height: 25px;
}

.search-placeholder p {
    position: relative;
    font-family: "Montserrat" ,sans-serif;
    font-size: 12px;
    color: grey;
    margin: 10px;
}

.location-buttons{
    flex-basis: 80%; 
    margin-top: 60%;
    margin-bottom: 10%; 
    display: flex;
    flex-flow: row wrap;
}

.location-buttons a{   
    flex-basis: 100%;
    margin: 10px 0;
    padding: 0;
}

#searchBtn {
    background-color: #F7BE00;
    color: black;
}

#cancelBtn {
    background-color: #2ec4b3;
    color: white;
}

.location-footer {
    flex-basis: 100%;
    align-self: flex-end;
}

/********************************************************************************************************/
/********************************************************************************************************/
/*                                           Events Page                                                */
/********************************************************************************************************/
/********************************************************************************************************/

.event-header img{
    position: relative;
    /* border-radius: 1rem; */
}

.event-main {   
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem; 
    position: relative;
    top: -1rem;
    padding: 0.05rem;     
    background-color: white;  
    margin: 0;  
    margin-bottom: 3rem;
}

.event-heading {  
    /* position: relative; */
    /* top: 5rem; */
    background-color: white;
    /* border-top-left-radius: 1rem;
    border-top-right-radius: 1rem; */
    padding: 1.1rem 1rem;  
    display: flex;
    flex-flow: row nowrap; 
    justify-content: space-between;
    border-radius: 2rem;

}

.event-heading h2{
    color: #2ec4b3;
    margin: 0;
    padding: 0;
}

.event-heading a{
    color: #F7BE00;
    text-align: right;
}

.event-info {
    margin: 0.5rem;
    padding: 0.5rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: white;
    border-bottom: 1px solid #909090;
}


.event-time , .event-price {
    flex-basis: 50%;
}

.event-time , .event-price , .event-location {
    margin: 0.3rem 0;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.event-time .tag, 
.event-price .tag ,
.event-location .tag {
    flex-basis: 50%;
    margin: 0;
    padding: 0 0.3rem;
}

.event-time img, 
.event-price img , 
.event-location img{
    width: 30px;
    height: auto;
}

.event-time .date , 
.event-price .price , 
.event-location .location {
    flex-basis: 100%;
    margin: 0.3rem  0;
    padding: 0;
}

.event-location {
    flex-basis: 100%;
}

.event-info .tag {
    color: #909090;
    font-size: 0.9rem;
}

.date,.price, .location {
    font-size: 1.1rem;
    color: #0088fd;
    font-weight: bold;
}

.event-content {
    font-size: 0.9rem;
    color: #909090;
    padding: 0 1rem;
}

.event-content a:not(:last-child) {
    text-decoration: #0A1943;
}


#backBtn {
    background-color: white;
    color: black;
    text-align: left;
}


#directionBtn, #closeMap {
    background-color: #F7BE00;
    color: #0A1943;
    margin-top: 2rem;
}

.map{
    position: absolute;
    width: 100%;
    height: 100%;
}
 
.map-page #closeMap {
    position: relative;
    max-width: 60%;
    margin: 0 20%;
    top: 45rem;
}





/********************************************************************************************************/
/********************************************************************************************************/
/*                                           Contact Page and FAQs common style                                           */
/********************************************************************************************************/
/********************************************************************************************************/

.contact-header  , .faqs-header {
    display: flex;
    flex-flow: row wrap;
    flex-grow: 1;    
}

.contact-heading , .faqs-heading  {
    flex-basis: 100%;
    background-color: white;
    color: black;    
    display: flex;
    padding: 20px;
    justify-items: center;
}

.contact-heading h3 , .faqs-heading h3 {
    padding: 0;
    margin: 0;
    flex-basis: 100%;
    text-align: center;
}

.contact-message , .faqs-message {
    flex-basis: 100%;
    background-color: #F7BE00;
    color: white;
    font-weight: bolder;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 45px 30px 45px 30px;
    align-self: center;
}

.faqs-message{
    background-color: #2ec4b3;
}

.contact-message p , .faqs-message p{
    padding: 0;
    margin: 0;
    font-size: 2rem;
    text-align: center;
}

.display-name {
    font-size: 28px;
}

.contact-info{
    display: flex;
    flex-flow: row wrap;
    padding: 30px;
}

.contact-info label{
    flex-basis: 100%;
    font-size: 14px;
    padding: 0;
    margin: 0;
}

.contact-info input{
    flex-basis: 100%;
    border: 0;
    border-bottom: 2px solid #D0D0D0;
    margin-bottom: 20px;
    font-weight: bolder;
    font-size: 16px;
}



#btn-send-contact{
    flex-basis: 100%;
    background-color: #2ec4b3;
    color: white;  
    margin: 0;  
}

#retrieveMessage {
    border : 2px solid #D0D0D0;
    height: 10rem;
    width: 12rem;
}


/********************************************************************************************************/
/********************************************************************************************************/
/*                                          FAQs Page                                                   */
/********************************************************************************************************/
/********************************************************************************************************/

.faqs-main{
    padding: 2rem;
}

.question {
    color: #0088fd;
    font-weight: bold;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    border-bottom: 1px solid #909090;
}

.question p{
    justify-self: flex-start;
    width: max-content;
}

.question a {
    justify-self: flex-end;
    color: #0088fd;
    margin: 1rem;
    padding: 0;
}

.question-section .active{
    text-align: start;
    border-bottom: 1px solid #909090;
    padding-bottom: 1rem;
}

#expand1 , #expand2 , #expand3 , 
#expand4 , #expand5 , #expand6 {
    background-color: white;
    border: 0;
    color: #0088fd;
}


/********************************************************************************************************/
/********************************************************************************************************/
/*                                          Splash Screens                                              */
/********************************************************************************************************/
/********************************************************************************************************/

.screen{
    height: auto;
    max-width: 100%;
    /* padding: 2rem; */
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.screen img{
    max-width: 100%;
    height: auto;
}

.screen button{
    margin-top: 2rem;
    background-color: #F7BE00;
    color: #0A1943;
}

.screen h1 {
    flex-basis: 100%;
    font-size: 2.5rem;
    width: 90%;
    margin: 0.5rem auto;
} 

.screen p {
    flex-basis: 100%;
    font-size: 1rem;
    width: 90%;
    margin: auto;

} 
.screen a{
    flex-basis: 100%;
}

.screen a button{
    width: 90%;
    margin: 0 18.75px;
    position: relative;
    bottom: -3rem;
}

.screen1 ,.screen4{
    color: #F7BE00;
}

.screen2 {
    color: #2ec4b3;
}

.screen3 {
    color: #0088fd;
}

.screen-outer {
    /* display: flex;
    justify-content: center;
    align-items: center; */
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

/* .screen-outer.active{
    opacity: 100%;
    pointer-events: all;
} */

/* .screen-inner .screen2{
    transform: translateX(100%) ; 
    transition: transform 0.2s ;
    overflow: hidden;
}

.screen-inner.active .screen2{
    transform: translateX(0);
} */

/* .screen-outer.active .screen-inner{
    transform: translateX(0);
} */

.screen-inner{
    object-fit: cover;
    max-width: 100%;
}